.checkbox-container {
	label {
		@apply flex items-center gap-x-1;
		span {
			@apply h-5 w-5 border border-black rounded flex items-center justify-center;
		}
		input:checked + span {
			background-color: black;
			svg {
				display: block !important;
			}
		}
	}
}
